<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
 .edit-ds h4{
    font-size: 12px;
 }
 .edit-ds p {
    font-size: 10px;
 }
 .edit-ds p:hover{
    color: aqua;
 }
 .edit-ds input:hover{
    border: 0.4 solid black;
 }
    </style>
    <title>Document</title>
</head>
<body>

   
 <div class="container-fluid">
    <header>
        <div class="container-fluid bgtop1 ">
            <h4 i class='bx bxs-phone small'></i> ĐIỆN THOẠI:</h4>
            <span class="small text-warning">09771*4545</span>
         </div>
        <div class="container">
            <div class="d-flex justify-content-between mt-4">
                <div></div>
                <h1 class="text-center  maulogo ">Mega Shoes</h1>
                <div  class="mt-2">
                    <i class='bx bx-search'></i>
                  
                    <a href="dangnhap.html"> <i class='bx bx-user-circle' ></i></a>
                    <i class='bx bx-shopping-bag'></i>
                   </div>

            </div>
           
            <div>
                <ul class="nav justify-content-center">
                    
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Danh mục sản phẩm</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Tin tức</a>
                    </li>
                   
                  </ul>
              <!-- <div class="list-ds  mt-3">
               <ul class="list-inline  d-flex justify-content-center">
                   <li><a href="index.html" class="m-3">Trang chủ</a></li>
                   <li><a href="" class="m-3">Giới thiệu</a></li>
                   <li><a href="sanpham.html" class="m-3">Danh mục sản phẩm</a></li>
                   <li><a href="tintuc.html"class="m-3">Tin tức </a></li>
                   <li><a href="lienhe.html" class="m-3">Liên hệ</a></li>
                 </ul>
              </div> -->
             
            </div>
        </div>
        <section>
            <div class="container-fluid bgtop1 text-right">
                <img src="images/banner3.jpg" style="width: 100%;height: auto;">
                <div class="row">
                    <div class="col-md-3 text-center ">
                        <img src="images/support_1_ic.png" alt="" width="70" height="40">
                        <h3>Giao Hàng Miễn Phí</h3>
                        <span>Cho đơn hàng trên 599k</span>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="images/support_1_ic.png" alt="" width="70" height="40">
                        <h3>Miễn Phí Đổi Trả</h3>
                        <span>Trong vòng 7 ngày</span>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="images/support_3_ic.png" alt="" width="70" height="40">
                        <h3>Đặt Hàng Trực Tuyến</h3>
                        <span>Hotline : 1900.XXX.XXX</span>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="images/support_4_ic.png" alt="" width="70" height="40">
                        <h3>Hỗ Trợ 24/7</h3>
                        <span>Hỗ Trợ online /offline 24/7</span>
                    </div>
                   
                </div>
            </div>
           
        </section>
    
    </header>

<section>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-3 edit-ds">
           <div>
            <h4>Tất cả sản phẩm- </h4>
           <p>Sản phẩm bán chạy</p>
           <p>Sản phẩm mua nhiều trong tháng</p>
           <h4>Sản phẩm khuyến mãi</h4>
           <h4>Sản phẩm nổi bật</h4>
           <h4>Thương hiệu-</h4>
           <p> <input type="checkbox"> Khác</p>
           <p><input type="checkbox"> Nike</p>
           </div>
          <div>
            <h4>Giá sản phẩm-</h4>
            <p><input type="checkbox" > Dưới 500,000₫</p>
            <p><input type="checkbox" > 500,000₫ - 1,000,000₫</p>
            <p><input type="checkbox" > 1,000,000₫ - 1,500,000₫</p>
            <p><input type="checkbox" > 2,000,000₫ - 5,000,000₫</p>
            <p><input type="checkbox" > Trên 5,000,000₫</p>
          </div>
         <div>
            <h4>Màu sắc-</h4>
            <button class="btn btn-primary rounded-0 border" style="width: 5px; height: 20px;"></button>
            <button class="btn btn-dark rounded-0 border" style="width: 5px; height: 20px;"></button>
            <button class="btn btn-warning rounded-0 border" style="width: 5px; height: 20px;"></button>
            <button class="btn btn-secondary  rounded-0 border" style="width: 5px; height: 20px;"></button>
            <button class="btn btn-danger rounded-0 border" style="width: 5px; height: 20px;"></button>
            <button class="btn btn-info rounded-0 border" style="width: 5px; height: 20px;"></button>
            <button class="btn btn-light rounded-0 border " style="width: 5px; height: 20px;"></button>
            <button class="btn btn-success rounded-0 border" style="width: 5px; height: 20px;"></button>
         </div>
          <div>
            <h4>Kích thước-</h4>
          <div class="btn-group" >
            <button class="btn btn-outline-info btn-sm border border-secondary ">36</button>
            <button class="btn btn-outline-info btn-sm border border-secondary ">37</button>
            <button class="btn btn-outline-info btn-sm border border-secondary ">38</button>
            <button class="btn btn-outline-info btn-sm border border-secondary ">39</button>
            <button class="btn btn-outline-info btn-sm border border-secondary ">40</button>
            <button class="btn btn-outline-info btn-sm border border-secondary ">41</button>
            <button class="btn btn-outline-info btn-sm border border-secondary ">42</button>
          </div>
          </div>
          
        
         
            </div>
            <div class="col-md-9">
                <h4>Danh sách sản phẩm</h4>
                <div class="row mt-3">
                    <div class="col-md-3 ">
                        <img src="images/sp1.jpg" width="200" height="200">
                        <h4>Tên sản phẩm</h4>
                        <span>400.000VNĐ</span>
                    </div>
                    <div class="col-md-3 ">
                        <img src="images/sp2.jpg" width="200" height="200">
                        <h4>Tên sản phẩm</h4>
                        <span>400.000VNĐ</span>
                    </div>
                    <div class="col-md-3 ">
                        <img src="images/sp3.jpg" width="200" height="200">
                        <h4>Tên sản phẩm</h4>
                        <span>400.000VNĐ</span>
                    </div>
                    <div class="col-md-3 ">
                        <img src="images/sp4.jpg" width="200" height="200">
                        <h4>Tên sản phẩm</h4>
                        <span>400.000VNĐ</span>
                    </div>
                    <div class="col-md-3 ">
                        <img src="images/sp5.jpg" width="200" height="200">
                        <h4>Tên sản phẩm</h4>
                        <span>400.000VNĐ</span>
                    </div>
                    <div class="col-md-3 ">
                        <img src="images/sp6.jpg" width="200" height="200">
                        <h4>Tên sản phẩm</h4>
                        <span>400.000VNĐ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container-fluid">
        <div class="d-flex justify-content-between  align-items-center mt-4 form-icon"> 
            <div>
                <div>
                    <h5><i class='bx bx-envelope'></i> <span>Đăng kí nhận tin</span>  </h5>
                </div>
            </div>
            <div>
                <form class="row g-2 align-items-center">
                    <div class="col-auto">
                        <input type="text" name="" placeholder="Nhập email của bạn" style="width: 400px; height: 30px;" class="rounded-0 border">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary btn-sm rounded-0">Đăng kí</button>
                    </div>
                </form>
            </div>
            <div>
                <h5><i class='bx bxs-phone'></i><span>Đăng kí/Mua hàng :18000345</span> </h5>
            </div>
           </div>
           <hr>
           <div>
             <div class="row size-footer">
                 <div class="col-md-4">
                    <h4>Giới thiệu</h4>
                    <p>Mega Shoes trang mua sắm trực tuyến của thương hiệu thời trang Lama,
                         thời trang nam, nữ, phụ kiện, giúp bạn tiếp cận xu hướng thời trang mới nhất.</p>
                         <img src="images/logobct.png">
                 </div>
                 <div class="col-md-2">
                    <h4 class="text-left">Liên kết</h4>
                    <div >
                    <ul>
                        <li><a href="">Tìm kiến</a></li>
                        <li><a href="">Giới thiệu</a></li>
                        <li><a href="">Chính sách đổi trả</a></li>
                        <li><a href="">Chính sách bảo mật</a></li>
                        <li><a href="">Điều khoản dịch vụ</a></li>
                    </ul>
                 </div>
                 </div>
                 <div class="col-md-3">
                    <h4>Thông tin liên hệ</h4>
                    <p>Tầng X, tòa nhà Flemington, số XXX, đường Lê Đại Hành, phường XX, quận XX, Tp. Hồ Chí Minh.</p>
                    <p>Hotline:1900.XXX.XXX</p>
                    <p>Email: hotrotructuyen@gmail.com</p>
                  
                 </div>
                 <div class="col-md-3">
                    <h4>Fanpage</h4>
                    <iframe width="220" height="100" src="https://www.youtube.com/embed/-iqWkbbsvGk?si=aezgIFYTu44XNxnm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                 </div>
             </div>
             <hr>
             <p class="text-center" style="font-size: 10px;">Copyright © 2024 Mega Shoes. Powered by Haravan
    
             </p>
           </div>
    
    </div>
            
        </footer>
    
 </div>
    

    <script src="js/bootstrap.min.js">

    </script>
</body>
</html>